.contact-container {
    display: flex;
    background-color: #0052CC;
    color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.contact-list {
    padding-right: 20vw;
    padding-top: 20px;
    display: flex;
    list-style: none;
    padding-bottom: 5px;
    margin-bottom: 0px;
    flex-grow: 0;
  
  }

  .interest-message {
    font-size: 32px;
  }

  .interest-container {
    padding: 20px;
    flex-grow: 2;
  }

  
  .contact-icon {
    padding-left: 20px;
    font-size: 48px;
    color: white;
  }
  
  .contact-icon:hover{
    color: #FF9800;
    transition: color .25s ease
  }

  @media only screen and (max-width: 600px) {
    .interest-message {
      font-size: 18px;
    }
}

.featured-projects {
  font-size: 24px;
  font-family: "Nunito", sans-serif;
}

.return-home {
  margin-bottom: 40px;
  cursor: pointer;
}