.contact-container {
    padding-right: 20vh;
    padding-top: 10px;
    background-color: #0052CC;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding-bottom: 5px;
    margin-bottom: 0px;
  
  }
  
  .contact-icon {
    padding-left: 20px;
    font-size: 48px;
    color: white;
  }
  
  .contact-icon:hover{
    color: #FF9800;
    transition: color .25s ease
  }