@import "~react-image-gallery/styles/css/image-gallery.css";

.modalContainer {
    background-color: #0b1d51;

    max-width: 700px;
    color: white;
}

.modalContainer h1 {
    padding: 0px 20px;
    font-size: 24px;
    font-weight: bolder;
}

.modalContainer h2 {
    padding: 0px 20px;
    font-size: 18px;
    width: 90%;
}

.closeWindow {
    position: absolute;
    overflow: hidden;
    right: 30px;
    bottom: 40px;
    
}

.imageGallery {
    width: 700px;
    height: auto;
}

.imageGallery img {
    width: 700px;
    height: auto;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: all 500ms ease-in-out;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
  }

  @media only screen and (max-width: 700px) {
    .imageGallery {
        width: 100vw;
        margin: 0 auto;
    }

    .imageGallery img {
        width: 300px;
    }
    .modalContainer {
        width: 100vw;
        height: 100vh;
    }

  }
  