
  .content {
    width: 60vw
  }

  .sidebar-projects {
    list-style: none;
    font-size: 24px;
    color: white;
    padding: 0px;
    background-color: #0097A7;
    height: 100%;

  }

  .projects-container {
    margin-bottom: 10vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project {
    margin: 20px;
    font-size: 48px;
  }
