

.projects-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
    padding: 20px;
  }
  
  .project {
    background-color: white;
    margin: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    display: table;
    height: 100%;
    min-height: 420px;
  }
  
  .projects-container {
    margin-bottom: 10vh;
  }
  .project-top-bar {
    background-color: #0052CC;
    padding: 10px 0px 10px 0px;
  }
  
  .project-heading {
    font-weight: 600;
  
  }
  
  .projects-header {
    color: black;
    font-size: 32px;
    text-align: center;
    margin-top: 50px;
  
  }
  
  .project-summary {
    color: black;
    overflow: hidden;
    height: 100%;
    padding: 20px 10px 20px 10px;
  
  }
  
  .project-bottom-bar {
    position: absolute;
    bottom: 0px;
    height: 10%;
    width: 100%;
  }
  
  
  .image-container {
    position: absolute;
    width: 100%;
    float: left;
    height: 100%;
    overflow: hidden;
  }
  
  .project-image {
    z-index: -1;
    opacity: 0.5;
  }
  
  .project-info-container {
    max-width: 640px;
    min-width: 480px;
  }
  