
.header-container {
    background-color: white;
    width: 100%;
    color: black;
    padding: 20px 0px 20px 40px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  
  }
  
  .name-title {
    font-weight: bolder;
    font-size: 18px;
    text-align:left;
  }
  
  .current-occupation {
    padding-top: 40px;
  }
  
  .summary-container {
    font-size: 24px;
    padding: 200px 0px 0px 100px;
    height: 50vh;
  }
  
  #clearfix {
    clear: both;
  }
  
  @media only screen and (max-width: 600px) {
    .summary-container {
      padding-top: 50px;
    }
}