
.summary-container {
    width: 100%;
    color: black;
    padding: 40px 0px 20px 80px;
    text-align: left;
    font-size: 14px;
    font-family: "Nunito", sans-serif;


  }
  
  .name-title {
    font-weight: bolder;
    font-size: 18px;
    text-align:left;
  }
  
  .current-occupation {
    padding-top: 40px;
  }
  
  .summary-container {
    font-size: 16px;
  }

  .summary-intro {
    font-size: 36px;
  }

  .content {
    font-size: 24px;
  }
  
  #clearfix {
    clear: both;
  }
  
.logo {
  height: 100px;
  width: 100px;
  border-radius: 25px;
}