
.summary-container {
    width: 100%;
    color: black;
    padding: 40px 0px 20px 20px;
    text-align: left;
    font-size: 12px;
    font-family: "Nunito", sans-serif;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;



  }
  
  .name-title {
    font-weight: bolder;
    text-align:left;
  }
  

  
  #clearfix {
    clear: both;
  }
  
.logo {
  height: 80px;
  width: 80px;
  border-radius: 25px;
}


.summary-intro {
  font-size: 24px;
  font-weight: bold;
}
.summary-content {
  font-size: 20px;
}

.current-occupation {
  font-size: 18px;
}