.App {
  font-family: 'Montserrat', sans-serif;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.header-container {
  background-color: white;
  width: 100%;
  color: black;
  padding: 20px 0px 20px 40px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.name-title {
  font-weight: bolder;
  font-size: 18px;
  text-align:left;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.projects-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 320px;
  padding: 20px;
}

.project {
  background-color: white;
  margin: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  display: table;
  height: 100%;
}

.project-top-bar {
  background-color: black;
  padding: 10px 0px 10px 0px;
}


.project-bottom-bar {
  position: absolute;
  bottom: 0px;
  height: 10%;
  width: 100%;
}

.projects-header {
  color: black;
  font-size: 32px;
  padding-left: 40px;
  margin-top: 50px;

}

.project-summary {
  color: black;
  padding: 10px 10px 10px 0px;
  overflow: hidden;
  display: table-row;

}

.image-container {
  padding: 10px;
  width: 100%;
  float: left;
  max-width: 240px;

}

.project-info-container {
  float: right;
  width: 80%;
  max-width: 640px;
  padding: 30px 20px 0px 150px;
}

.project-image {
  width: 320px;
  height: 240px;
}


.summary-container {
  font-size: 24px;
  padding: 20px 0px 0px 40px;
}
