body {
  font-family: "Montserrat", sans-serif;
  background-color: #26A69A;
  background-image: url("./images/table-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 100%;
  margin:0;
  padding: 0;
}

[data-reactroot] 
        {height: 100% !important; }

.shadow {
  box-shadow: 0 8px 6px -6px black;
}

.job-title {
  align-self: flex-start;
  width: 100%;
  padding-top: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

.align-center {
  text-align: center;
}

.name-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}

.caption {
  flex-grow: 1;
  padding: 20px 0px 60px 0px;
  text-align: center;
  font-style: italic;
  font-family: "Libre Baskerville", serif;
  width: 20vw;
  margin: 0 auto;
}

.bottom-section {
  background-color: #004d40;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.linkedin {
  margin-left: auto;
}


.card-container {
  background-color: #f3e0c0;
  width: 40vw;
  border-radius: 30px;
  margin: 100px auto;
}

.filled {
  width: 100vw !important;
  height: 100vh !important;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  transition: height 1s linear;
  transition: width 1s linear;
  transition: margin 0.5s linear;
}


.flip-card {
  background-color: transparent;
  width: 40vw;
  height: 300px;
  perspective: 1000px;
  border-radius: 30px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  -ms-transition: transform .6s;

  transform-style: preserve-3d;
  /* animation: 2s ease-in-out 0s 1 nudge; */

  
}

.flip-card:hover .flip-card-inner.unflipped {
  transform: rotateY(20deg);
  cursor: pointer;
}

.flipped {
  transform: rotateY(180deg);
  -ms-transform:rotatey(180deg); /* IE 9 */
  -moz-transform:rotateY(180deg); /* Firefox */
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -o-transform:rotateY(180deg); /* Opera */
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flip-card-front {
  background-color: #f3e0c0;
  color: black;
}

.flip-card-back {
  background-color: white;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  top: 0;
  left: 0;
}

.table-toggle {
  display: table;
}

@media only screen and (max-width: 800px) {
  card-container {
    width: 75vw !important;
    height: 20vh;
  }

  .flip-card { 
    width: 75vw;
    height: 20vh;
  }

  .caption {
    padding: 20px 0px;
    width: 70vw;
  }

  .contact-icon {
    font-size: 28px;
  }

  .bottom-section {
    background-color: #004d40;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
  }
  

}

@keyframes nudge {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(180deg);
  }

  50% {
    transform: rotateY(0deg);
  }

  75% {
    transform: rotateY(-180deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

.DontUseIE {
  background-color: #00ACC1;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

}

.IEContent {
  background-color: #00ACC1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


.tap-indicator {
  font-size: 24px;
  color: white;
  text-align: center;
  opacity: 0.8;
  animation: 3s fadein;

}

@keyframes fadein {
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:0.8; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

