body {
  font-family: "Montserrat", sans-serif;
  background-image: url("./images/table-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 100%;
  margin:0;
  padding: 0;
}

[data-reactroot] 
        {height: 100% !important; }

.shadow {
  box-shadow: 0 8px 6px -6px black;
}

.job-title {
  align-self: flex-start;
  height: 70px;
  width: 100%;

  padding-top: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

.name-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}

.caption {
  flex-grow: 1;
  padding-top: 20px;
  text-align: center;
  font-style: italic;
  font-family: "Libre Baskerville", serif;
  width: 20vw;
  margin: 0 auto;
}

.bottom-section {
  background-color: #004d40;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px;
}

.linkedin {
  margin-left: auto;
}

.card-container {
  background-color: #f3e0c0;
  width: 40vw;
  border-radius: 30px;
  margin: 100px auto;
}

.filled {
  width: 100vw !important;
  height: 100vh !important;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  transition: height 1s linear;
  transition: width 1s linear;
  transition: margin 0.5s linear;
}


.flip-card {
  background-color: transparent;
  width: 40vw;
  height: 300px;
  perspective: 1000px;
  border-radius: 30px;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
}

.flip-card:hover .flip-card-inner.unflipped {
  transform: rotateY(20deg);
}

.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flip-card-front {
  background-color: #f3e0c0;
  color: black;
}

.flip-card-back {
  background-color: #26A69A;
  color: white;
  transform: rotateY(180deg);
  top: 0;
  left: 0;
}
